@import '~@/styles/app';

.feeds {
    font-size: 14px;
    background-color: $gray-100;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: var(--content-shadow);

    &__network-picker {
        margin-right: 10px;
    }

    &__actions-wrapper {
        position: sticky;
        top: 70px;
        z-index: 2;
        background: $gray-200;
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        box-shadow: var(--tabs-shadow);
        display: flex;
        align-items: center;

        &-item {
            margin-right: 1rem;
            display: flex;
            margin-bottom: 1rem;

            &--right {
                margin-left: auto;
            }
        }

        &-label {
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }

    &__status-text {
        font-size: 12px;
        display: block;

        strong {
            font-weight: bold;
        }
    }

    &__table {
        font-size: 12px;
    }

    &__token-image {
        width: 40px;
        height: 40px;
        padding: 5px;
        box-shadow: var(--content-shadow);
        border-radius: 40px;
        border: 2px solid #ebebeb;
        margin: 10px;
    }

    &__contract-address {
        color: var(--redstone-red-color);
    }

    &__copy-icon {
        margin-left: 10px;
        position: relative;
        display: block;
        top: -1px !important;
        color: #989898;
        cursor: pointer;
    }

    &__feed-link {
        color: var(--redstone-red-color) !important;
    }

    &__timestamp {
        &-date {
            display: block;
            font-size: 10px;
            color: gray;
        }
    }
}

.clear-filters {
    margin-right: 20px;
    color: var(--redstone-red-color);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.custom-pagination {
    li {
        width: 200px !important;

        &:nth-child(4) {
            flex: unset !important;
            margin-left: auto;
        }

        &:nth-child(2) {
            flex: unset !important;
            margin-right: auto;
        }

        &:first-child,
        &:last-child {
            display: none !important;
        }
    }

    button {
        padding: 15px 20px;
        border: 2px solid rgb(212, 212, 212) !important;
        box-shadow: var(--tabs-shadow);

        &:active {
            border: 2px solid var(--redstone-red-color) !important;
            color: var(--redstone-red-color);
            box-shadow: var(--tabs-shadow);
        }
    }

    .page-item {

        &.disabled,
        &.active {
            display: none !important;
        }
    }
}

.cron-schedule {
    border: 1px solid rgb(152, 152, 152);
    border-radius: 5px;
    background: rgb(215, 215, 215);
    padding-top: 5px;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    ol {
        font-weight: 400;
        margin-top: 5px;
        background: #fff;
        font-size: 12px;
        margin-bottom: 0;
        li{
            padding: 2px;
        }
        li:nth-child(odd) {
            background: rgb(230, 230, 230);
        }
    }
}