@import "~@/styles/app";

.feeds {
  font-size: 14px;
  background-color: $gray-100;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--content-shadow);

  &__status {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  table {
    border-top: 1px solid rgb(227, 227, 227);
  }

  thead {
    tr {
      background: #f4f4f4;
    }

    th {
      background-position: 30px !important;
      padding: 30px 30px !important;
      text-align: center;
      border: 1px solid rgb(227, 227, 227) !important;
    }
  }

  tbody tr {
    &:hover {
      background: #fff !important;
    }

    &:nth-child(even) {
      background: #f4f4f4 !important;
    }

    padding: 10px !important;

    td {
      text-align: center;
      border-top: 1px solid rgb(227, 227, 227);
      border-bottom: 1px solid rgb(227, 227, 227);
      &:first-child{
        text-align: left;
      }
      &:nth-child(2) {
        text-align: left;
      }

      @media (min-width: breakpoint-min(sm)) {
        &:first-child {
          border-left: 1px solid rgb(227, 227, 227);
        }

        &:last-child {
          border-right: 1px solid rgb(227, 227, 227);
        }
      }
    }
  }

  &__network-picker {
    margin-right: 10px;

    @media (max-width: breakpoint-min(md)) {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  &__crypto-picker {
    @media (max-width: breakpoint-min(md)) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .crypto-checkbox {
    @media (max-width: breakpoint-min(md)) {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__actions-wrapper {
    z-index: 2;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      align-items: center;

      @media (max-width: breakpoint-min(md)) {
        margin: 0;
      }

      &--right {
        margin-left: auto;

        @media (max-width: breakpoint-min(md)) {
          margin-left: unset;
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    &-label {
      font-size: 10px;
      font-weight: bold;
    }
    &-label.feed-counter{
      padding: 10px 18px;
      background: var(--redstone-red-color);
      border: 1px solid darken(#FD627A, $amount: 15) !important;
      border-radius: 6px;
      span, strong{
        color: #fff;
        font-size: 14px !important;
      }
    }
  }

  &__status-text {
    font-size: 12px;
    display: block;

    strong {
      font-weight: bold;
      color: var(--redstone-red-color)
    }
  }

  &__table {
    font-size: 12px;
  }

  &__token-image {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-shadow: var(--content-shadow);
    border-radius: 40px;
    border: 2px solid #ebebeb;
    margin: 10px;
  }

  &__contract-address {
    color: var(--redstone-red-color);
  }

  &__copy-icon {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    top: -1px !important;
    color: #989898;
    cursor: pointer;
  }

  &__feed-link {
    color: var(--redstone-red-color) !important;
  }

  &__timestamp {
    &-date {
      display: block;
      font-size: 10px;
      color: gray;
    }
  }
}

.clear-filters {
  margin-right: 20px;
  color: var(--redstone-red-color);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.custom-pagination {
  width: 100%;
  display: flex;
  li {
    width: 200px !important;

    &:nth-child(4) {
      flex: unset !important;
      margin-left: auto;
    }

    &:nth-child(2) {
      flex: unset !important;
      margin-right: auto;
    }

    &:first-child,
    &:last-child {
      display: none !important;
    }
  }

  button {
    padding: 15px 20px;
    border: 2px solid rgb(212, 212, 212) !important;
    box-shadow: var(--tabs-shadow);

    &:active {
      border: 2px solid var(--redstone-red-color) !important;
      color: var(--redstone-red-color);
      box-shadow: var(--tabs-shadow);
    }
  }

  .page-item {
    &.disabled{
      visibility: hidden;
    }
    &.active {
      width: 40px !important;
      display: inline-block !important;
      margin-left: calc(50% - 100px);
      transform: translateX(-50%);
      button{
        text-align: center !important;
        // border: 0 !important;
        box-shadow: var(--tabs-shadow) !important;
        background-color: #fff;
        font-weight: bold !important;
        color: rgb(61, 61, 61);
        box-shadow: none;
        pointer-events: none;
      }
    }
  }
}

.feeds__per-page-select {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  margin-left: 0.5rem;
}

.cron-schedule {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background: rgb(227, 227, 227);
  box-shadow: var(--content-shadow);
  padding-top: 5px;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
  font-size: 10px !important;

  ol {
    font-weight: 400;
    margin-top: 5px;
    background: #fff;
    margin-bottom: 0;

    li {
      padding: 2px 10px;
      font-size: 10px;
    }

    li:nth-child(even) {
      background: #f4f4f4;
    }
  }
}

.no-padding-tooltip {
  .arrow::before {
    border-top-color: rgb(205, 205, 205) !important;
  }

  .tooltip-inner {
    background: transparent !important;
    padding-bottom: 0px !important;
  }
}

.entity-icon {
  font-size: 8px;
  position: relative;
  top: -1px;
}

.selected-items {
  margin-top: 10px;
  font-size: 10px;
  color: #aeaeae;
}

.separator {
  width: 1px;
  background: #ececec;
  height: 50px;
  margin: 0 10px;
}
