.feed-details {
  background: #fff;
  padding: 15px 0;
  border-radius: 15px;
  max-height: 100vh;
  display: flex;
  flex-flow: row wrap;

  &__infos {
    width: 30%;
    padding: 20px;
    border: 1px solid hsl(220, 14%, 96%);
    border-radius: 15px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.applicant-info {
  &__header {
    padding: 0 1rem;

    @media (min-width: 640px) {
      padding: 0;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.75;
    color: #111827;
    padding-left: 15px;
  }

  &__description {
    margin-top: 0.25rem;
    max-width: 42rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #6b7280;
  }

  &__content {
    margin-top: 1.5rem;
    border-top: 1px solid #f3f4f6;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 2rem 15px;
    border-bottom: 1px solid #f3f4f6;

    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
      .applicant-info__value {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.6rem;
    color: darken(#fd627a, 60%);
  }

  &__value {
    display: flex;
    margin-top: 0.25rem;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #374151;

    @media (min-width: 640px) {
      grid-column: span 2 / span 2;
      margin-top: 0;
    }
  }

  &__column-value {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .applicant-info__item {
      padding: 0;
      margin-right: 1rem;
      border-bottom: none;
    }

    .applicant-info__label {
      color: gray;
      font-size: 0.8rem;
    }

    .applicant-info__value {
      font-size: 1.1rem !important;
    }
  }

  &__text {
    flex-grow: 1;
    font-size: 1rem;
  }

  &__action {
    margin-left: 1rem;
    flex-shrink: 0;
  }

  &__button {
    background-color: white;
    font-weight: 500;
    border-radius: 0.375rem;

    &--update {
      color: #4f46e5;

      &:hover {
        color: #4338ca;
      }
    }

    &--remove {
      color: #111827;

      &:hover {
        color: #1f2937;
      }
    }
  }

  &__separator {
    margin: 0 0.5rem;
    color: #e5e7eb;
  }
}

.date-subvalue {
  font-size: 0.7rem;
  font-size: gray;
}

.feed-chart {
  width: 100%;
  height: auto;
  padding: 30px 15px;
}

.range-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.range-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.range-buttons button.active {
  background-color: #fd627a;
  color: #fff;
}

// General styles for the container
.stats-grid {
  width: 100%;
  border-bottom: 1px solid hsl(220, 14%, 96%);
  display: grid;
  border-radius: 15px;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

// Styles for each stat item
.stat-item {
  background-color: white;
  padding: 2.5rem 1rem; // py-10 px-4
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem 1rem;

  @media (min-width: 640px) {
    padding: 2.5rem 1.5rem; // sm:px-6
  }

  @media (min-width: 1280px) {
    padding: 2.5rem 2rem; // xl:px-8
  }
}

// Title styling
.stat-title {
  font-size: 0.875rem; // text-sm
  font-weight: 500; // font-medium
  line-height: 1.5rem; // leading-6
  color: #6b7280; // text-gray-500
}

// Percentage change styling
.stat-change {
  font-size: 0.75rem; // text-xs
  font-weight: 500; // font-medium
  color: #374151; // text-gray-700
}

// Negative percentage change
.stat-change--negative {
  color: #e11d48; // text-rose-600
}

// Value styling
.stat-value {
  display: flex;
  width: 100%;
  font-size: 1.2rem; // text-3xl
  font-weight: 500; // font-medium
  line-height: 1.2rem; // leading-10
  color: #111827; // text-gray-900
  margin-bottom: 0;
  align-items: center;
  i {
    margin-right: 10px;
    color: #ccc;
  }
  strong {
    font-size: 2rem;
  }
  img {
    box-shadow: none !important;
    border: 0;
    height: 1.2rem;
    width: auto;
    margin: 0 10px 0;
    padding: 0;
  }
}
