@import '~@/styles/app';

.sources-wrapper {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--content-shadow);

  #sources-table {
    th {
      text-transform: none;
      color: $navy;
      font-size: 12px;
      font-weight: $font-weight-soft-bold;
    }

    th:nth-of-type(1) {
      width: 200px;
    }

    th:nth-of-type(2) {
      width: 100px;
    }

    .source-logo {
      max-height: 30px;
      width: 30px;
    }

    .source-name {
      text-transform: capitalize;
    }
  }

  .report-source-link {
    font-size: 12px;
    margin-top: 30px;
  }
}
