@import '~@/styles/app';

.provider{
    .provider-logo {
        width: 35px;
    }

    .provider-name {
        color: $navy;
        font-size: 34px;
    }

    .provider-www {
        i {
            display: block;
        }
    }

    h1 {
        margin-bottom: 0;
    }
}

.loader {
    width: 60px;
}
