@import '~@/styles/app';

.provider{
    .provider-logo {
        width: 35px;
    }

    .provider-www {
        i {
            display: block;
        }
    }

    h1 {
        margin-bottom: 0;
    }
}

.loader {
    // margin-top: 50%;
    // margin-left: 50%;
    width: 60px;
}
