@import '~@/styles/app';

.providers-wrapper {
    background-color: $gray-100;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: var(--content-shadow);
}

.provider-card {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.provider-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-750;

    label {
        font-size: 12px;
        border-bottom: none;
        color: var(--sidebar-item-active);
    }

    .provider-name, .provider-www, .provider-id {
        margin-left: 10px;
        margin-bottom: 0;
    }

    .provider-name {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-larger;
        flex: 0 0 25%;
        color: var(--redstone-dark-blue-color);
    }

    .provider-id {
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-mini;
      flex: 0 0 25%;
      color: var(--redstone-dark-blue-color);
    }

    .provider-active-date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .provider-interval, .provider-points, .provider-stake, .provider-nodes, .provider-assets {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }    

    .provider-www {
        font-size: $font-size-larger;
        flex: 0 0 5%;

        .flaticon-www {
            width: 27px;
            height: 27px;
            display: block;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .provider-description {
        margin-bottom: 0;
        flex: 0 0 30%;
        font-family: Poppins;
        font-size: $font-size-mini;
        font-weight: $font-weight-thin;
        font-style: italic;
    }

    .provider-logo {
        flex: 0 0 5%;

        img {
            width: 50px;
        }
    }

    .btn-www {
        background-color: white;
        color: #F55767;
        flex: 0 0 12%;
        font-size: $font-size-base;
    }

    @media (max-width: breakpoint-max(sm)) {
        flex-wrap: wrap;
        
        .provider-logo {
            flex: 0 0 20%;
        }

        .provider-name, .provider-id {
            flex: 0 0 76%;
        }

        .provider-description {
            flex: 0 0 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }   
}

.provider-card-preloader {
    height: 88px;
    border-radius: $border-radius-sm;
    margin-bottom: 40px;

    @include preload-animation(2s, 100vw);
}

.widget-col:not(:last-of-type) .widget-wrapper {
    padding-bottom: 40px;
}
