@import '../../../styles/app';

h1 {
  margin-bottom: 20px;
}

.space {
  margin-top: 20px;
}

.token-data-wrapper {
  background-color: $gray-100;
  border-radius: 10px;
  box-shadow: var(--content-shadow);
}
