@import '../../../styles/app';

h1 {
  margin-bottom: 20px;
}

.space {
  margin-top: 20px;
}

.select-provider {
  @media (min-width: breakpoint-min(md)) {
    z-index: 1;
    position: absolute;
    width: calc(100% - 78px);
  }
}
