@import '~@/styles/app';


.layers-wrapper {
    font-size: 14px;
    background-color: $gray-100;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: var(--content-shadow);

    .toggle-all-checkbox input:checked+label::before {
        background: var(--redstone-red-color) !important;
        border-color: var(--redstone-red-color) !important;
    }

    .bulk-actions-wrapper {
        position: sticky;
        top: 70px;
        z-index: 2;
        background: $gray-200;
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        box-shadow: var(--tabs-shadow);
    }

    .custom-checkbox {
        transform: scale(1.2);
        position: relative;
        padding: 0 !important;
        left: 10px;
        label{
            height: 50px !important;
            width: 60px !important;
            cursor: pointer;
        }
        label::before, label::after{
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%);
        }
    }
    
    .custom-select{
        border: 1px solid var(--redstone-red-color);
        color: var(--redstone-red-color);
    }
    .bulk-actions-button {
        >button {
            padding: 5px 10px;
        }

        li a:active {
            background: #fff;
        }

        a .btn {
            font-size: 10px;
            padding: 5px 10px;
        }

        button {
            font-size: 12px;
            border-radius: 20px;
        }

        button:first-child:hover {
            background-color: #fff;
            color: var(--redstone-red-color);
        }
    }

    .table-active {
        box-shadow: -2px 0px 0px 0px var(--redstone-red-color);
        background: #fff !important;

        td {
            background: inherit !important;
        }

        .custom-checkbox {
            label::before {
                background: var(--redstone-red-color) !important;
                border-color: var(--redstone-red-color) !important;
            }
        }
    }

    thead tr {
        font-size: 12px;
        font-weight: 400;
        background: $gray-200;

        th {
            vertical-align: middle;
            padding: 20px 10px;
        }

        th:first-child {
            border-top-left-radius: 10px;

        }

        th:last-child {
            border-top-right-radius: 10px;
        }
    }

    .layer-details {
        padding: 20px 0;

        &__title {
            padding: 5px 10px;

            &.featured {
                font-size: 14px;
                background: $gray-200;
                border-radius: 10px;
            

                strong {
                    font-size: 14px;
                    color: var(--redstone-red-color);
                }
            }

            &.triggers {
                width: 100%;
            }

            label {
                font-size: 10px;
                margin-bottom: 0;
                display: block;
            }

            strong {
                font-size: 12px;
            }

            span {
                font-size: 8px;
                margin-left: 10px;
            }

            pre {
                border-color: $gray-300;
                padding: 10px;
                font-size: 10px;
                display: block;
                max-width: 100%;
                width: auto;
            }
        }
    }
}