.tooltip .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #d8d8d8;
  padding: 8px 12px;
  box-shadow: var(--content-shadow);
}
.tooltip {
  opacity: 1 !important;
}
.tooltip .arrow::before {
  border-top-color: #d8d8d8;
}
