@import '~@/styles/app';

.source-details {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--content-shadow);

  h1 {
    img {
      display: inline;
      width: 55px;
      margin-right: 10px;
    }
    font-size: 34px;
    color: $navy;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
}
